{
  "src/**/*.{ts,tsx,js}": ["eslint --fix"],
  "data/**/*.{ts,tsx,js}": ["eslint --fix"],
  "src/**/*.{ts,tsx,js,md,json,yml,svg}": ["prettier --write"],
  "data/**/*.{ts,tsx,js,md,json,yml,svg}": ["prettier --write"]
}
